
.vs/FootballFlick/v15/Server/sqlite3/db.lock
.vs/FootballFlick/v15/.suo
.vs/FootballFlick/v15/.suo
.vs/FootballFlick/v15/Server/sqlite3/storage.ide
.vs/FootballFlick/v15/Server/sqlite3/storage.ide
.vs/FootballFlick/v15/Server/sqlite3/storage.ide
.vs/FootballFlick/v15/.suo
.vs/FootballFlick/v15/.suo
.vs/FootballFlick/v15/Server/sqlite3/storage.ide
Common/bin/Debug/Common.dll
Common/bin/Debug/Common.pdb
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
FootballFlick/bin/Common.dll
FootballFlick/bin/Common.pdb
FootballFlick/bin/FootballFlick.dll
FootballFlick/bin/FootballFlick.pdb
FootballFlick/bin/Model.dll
FootballFlick/bin/Model.pdb
FootballFlick/obj/Debug/FootballFlick.csprojResolveAssemblyReference.cache
FootballFlick/obj/Debug/FootballFlick.dll
FootballFlick/obj/Debug/FootballFlick.pdb
Model/bin/Debug/Common.dll
Model/bin/Debug/Common.pdb
Model/bin/Debug/Model.dll
Model/bin/Debug/Model.pdb
Model/obj/Debug/Model.csprojResolveAssemblyReference.cache
Model/obj/Debug/Model.dll
Model/obj/Debug/Model.pdb
