<section class="last-w3layouts">
    <div class="container">
        <a href="/Home" class="bottom-agile"><h2 class="text-center">B.Flick</h2></a>
        <p class="text-center">&copy; 2017 Bike Race. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank"> W3layouts </a></p>
    </div>
</section>
