<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-tachometer-alt"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/Home/Index">Ecommerce </a></li>
                        <li><a href="/Admin/Home/Index">Analytics </a></li>
                    </ul>
                </li>
                <li class="nav-label">Lists</li>
                <li>
                    <a class="" href="/Admin/Club/Index" aria-expanded="false"><i class="far fa-futbol"></i><span class="hide-menu">Club</span></a>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fab fa-contao"></i><span class="hide-menu">Content management</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/Content/Index">Content</a></li>
                        <li><a href="/Admin/ContentCategory/Index">Content category</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="/Admin/Level/Index" aria-expanded="false"><i class="fas fa-level-up-alt"></i><span class="hide-menu">Level</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/Player/Index" aria-expanded="false"><i class="fab fa-studiovinari"></i><span class="hide-menu">Player</span></a>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-cube"></i><span class="hide-menu">Product management</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/Product/Index">Product</a></li>
                        <li><a href="/Admin/ProductCategory/Index">Product category</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="/Admin/Stadium/Index" aria-expanded="false"><i class="fas fa-store-alt"></i><span class="hide-menu">Stadium</span></a>
                </li>
                <li class="nav-label">System</li>
                <li>
                    <a class="" href="/Admin/Match/Index" aria-expanded="false"><i class="far fa-handshake"></i><span class="hide-menu">Match</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/Order/Index" aria-expanded="false"><i class="fab fa-wpforms"></i><span class="hide-menu">Order</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/ClubPointt/Index" aria-expanded="false"><i class="far fa-file-powerpoint"></i><span class="hide-menu">Club point</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/User/Index" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">User</span></a>
                </li>
                <li class="nav-label">Client UI management</li>
                <li>
                    <a class="" href="/Admin/Banner/Index" aria-expanded="false"><i class="fas fa-band-aid"></i><span class="hide-menu">Banner</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/Feedback/Index" aria-expanded="false"><i class="far fa-comments"></i><span class="hide-menu">Feedback</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/Slide/Index" aria-expanded="false"><i class="fab fa-slideshare"></i><span class="hide-menu">Slide</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/About/Index" aria-expanded="false"><i class="fab fa-fort-awesome"></i><span class="hide-menu">About</span></a>
                </li>
                <li>
                    <a class="" href="/Admin/Delivery/Index" aria-expanded="false"><i class="fas fa-helicopter"></i><span class="hide-menu">Delivery</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
