<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-list-ul"></i>
            <span>List</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/Club/Index"><i class="fa fa-angle-right"></i> Club</a></li>
            <li><a href="/Admin/Content/Index"><i class="fa fa-angle-right"></i> Content</a></li>
            <li><a href="/Admin/ContentCategory/Index"><i class="fa fa-angle-right"></i> Content category</a></li>
            <li><a href="/Admin/Level/Index"><i class="fa fa-angle-right"></i> Level</a></li>
            <li><a href="/Admin/Player/Index"><i class="fa fa-angle-right"></i> Player</a></li>
            <li><a href="/Admin/Product/Index"><i class="fa fa-angle-right"></i> Product</a></li>
            <li><a href="/Admin/ProductCategory/Index"><i class="fa fa-angle-right"></i> Product category</a></li>
            <li><a href="/Admin/Stadium/Index"><i class="fa fa-angle-right"></i> Stadium</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa fa-cog"></i>
            <span>System</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/Match/Index"><i class="fa fa-angle-right"></i> Match</a></li>
            <li><a href="/Admin/Order/Index"><i class="fa fa-angle-right"></i> Order</a></li>
            <li><a href="/Admin/ClubPoint/Index"><i class="fa fa-angle-right"></i> Club point</a></li>
            <li><a href="/Admin/PlayerPoint/Index"><i class="fa fa-angle-right"></i> Player point</a></li>
            <li><a href="/Admin/Rank/Index"><i class="fa fa-angle-right"></i> Rank</a></li>
            <li><a href="/Admin/User/Index"><i class="fa fa-angle-right"></i> User</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-university"></i>
            <span>Client UI management</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/Banner/Index">Banner</a></li>
            <li><a href="/Admin/Feedback/Index">Feedback</a></li>
            <li><a href="/Admin/Slide/Index">Slide</a></li>
            <li><a href="/Admin/About/Index">About</a></li>
            <li><a href="/Admin/Delivery/Index">Delivery</a></li>
        </ul>
    </li>
</ul>
